.t_Box {
    width: 100%;
    margin-bottom: 100px;

    .t_head {
        .t_head_top {
            position: relative;
            color: #feffff;
            width: 100%;
            height: 300px;
            background: url(./../images/original.jpg);
            background-position: -250px 0;

            h1 {
                position: absolute;
                left: 898px;
                top: 46px;
                color: #feffff;
            }

            .t_head_top_xq {
                position: absolute;
                left: 944px;
                top: 90px;

                span {
                    text-align: center;
                    padding: 6px;
                    background: rgba(255, 255, 255, .4);
                }
            }

            .t_head_top_sj {
                position: absolute;
                top: 125px;
                left: 937px;
            }

            .t_head_top_btu {
                position: absolute;
                top: 150px;
                left: 933px;
                font-weight: bold;
                border-radius: 5px;
                text-align: center;
                cursor: pointer;
                line-height: 48px;
                font-size: 25px;
                width: 200px;
                height: 48px;
                background: #fe5341;
            }
        }

        .t_lbt_btur {
            cursor: pointer;
            position: absolute;
            right: 180px;
            top: 486px;
        }

        .t_lbt_btul {
            cursor: pointer;
            position: absolute;
            left: 180px;
            top: 486px;

        }

        .t_head_lbt {
            margin: 0 auto;
            width: 1000px;
            overflow: hidden;

            .t_lbt_box {
                width: 2000px;
                position: relative;

                .t_lbt_boxdiv {
                    .t_lbt_div {
                        float: left;
                        margin-right: 28px;
                        position: relative;
                        text-align: center;
                        font-weight: bold;

                        width: 220px;
                        height: 288px;
                        border: 1px solid #e9e9e9;


                        img {
                            width: 222px;
                        }

                        p {
                            font-size: 18px;
                            margin-top: 10px;
                        }

                        .t_lbt_bq {
                            position: absolute;
                            right: 0;
                            top: 0;
                            width: 40px;
                            height: 22px;
                            text-align: center;
                            font-size: 12px;
                            line-height: 22px;
                            border-radius: 0px 4px 0px 4px;
                            font-weight: bold;
                            color: #fff;
                            background: #ff554b;
                        }

                        .t_lbt_bq2 {
                            position: absolute;
                            right: 0;
                            top: 0;
                            width: 76px;
                            height: 22px;
                            text-align: center;
                            font-size: 12px;
                            line-height: 22px;
                            border-radius: 0px 4px 0px 4px;
                            font-weight: bold;
                            color: #b4a77a;
                            background: #f1edc0;
                        }

                        .t_lbt_tai {
                            margin-top: 10px;

                            span {
                                display: inline-block;
                                width: 50px;
                                height: 25px;
                                border: 1px solid #f95e40;
                                color: #f95e40;
                                text-align: center;
                                line-height: 25px;
                                font-weight: bold;
                                border-radius: 4px;
                                margin-left: 10px;
                                margin-right: 10px;
                            }
                        }

                        .t_lbt_rs {
                            margin-top: 10px;

                            span {
                                color: #f95e40;

                            }
                        }

                        .t_lbt_ts {
                            color: #f95e40;
                            margin-top: 10px;
                        }
                    }
                }


            }



        }

        .t_head_bg_box {
            margin: 0 auto;
            width: 1000px;

            .t_bg_bt {
                float: left;
                font-weight: bold;
                margin: 24px 0px;
            }

            .t_bg_bt2 {
                float: right;
                margin: 24px 0px;

            }

            .t_bg_boxdiv {
                width: 1008px;

                .t_bg_div {
                    float: left;
                    margin-right: 28px;
                    margin-bottom: 20px;
                    width: 222px;
                    height: 223px;
                    border: 1px solid #eaeaea;
                    border-radius: 4px;

                    img {
                        width: 222px;
                    }

                    .t_bg_js {
                        margin-top: 12px;
                        font-size: 15px;
                        text-indent: 5px;
                    }

                    ul {
                        margin-top: 24px;

                        .t_bg_li {
                            color: #ee5a2a;
                            float: left;
                        }

                        img {
                            width: 12px;
                        }

                        .t_bg_li2 {
                            color: #9e9fa3;
                            float: left;
                            float: right;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }

}

.t_flbt {
    font-weight: bold;
    font-size: 18px;
    margin: 25px 0px;
}

.t_kw_js {
    color: #b9c2a5;
}

.t_bg_li {
    font-weight: bold;
    color: #fbe099;
}

.t_jz {
    position: relative;
    text-align: center;
    margin-top: 56px;
    width: 1000px;
    margin: 0 auto;
    color: #ee5a2a;
    font-weight: bold;
    cursor: pointer;

    div {
        position: absolute;
        left: 45%;
        top: 37px;
    }

    .t_jz_img {
        position: absolute;
        left: 48%;
        display: none;
    }
}

.t_dh {
    animation: zhuan .5s linear both;
}

@keyframes zhuan {
    0% {
        opacity: 0;
        transform: translate(265px, -100px);
    }

    100% {
        opacity: 1;
        transform: translate(0px);
    }
}
