.l_body {
    width: 1423px;
}

.l_left {
    position: absolute;
    top: 110px;
    left: 207px;
    width: 268px;
    height: 325px;
    background: #F3F3F3;
    border-radius: 5px;
}

.l_left span {
    position: absolute;
    top: 27px;
    left: 23px;
    border-bottom: 2px solid #ccc;
    color: #4C4846;
    font-size: 20px;
    font-weight: bolder;
    width: 220px;
}

.l_frist {
    position: absolute;
    top: 62px;
    left: 27px;
}

.l_frist li {
    width: 100px;
    font-size: 15px;
}

ul li {
    line-height: 24px;
}

.l_active {
    font-size: 17px;
    color: black;
    font-weight: bolder;
}

.l_last {
    position: absolute;
    top: 162px;
    left: 27px;
}

.l_last li {
    width: 110px;
    height: 30px;
    font-size: 15px;
}

.l_right {
    position: absolute;
    width: 707px;
    height: 690px;
    background: #F3F3F3;
    top: 110px;
    left: 500px;
    border-radius: 5px;
    margin-bottom: 48px;
}

.l_right span:nth-child(1) {
    position: absolute;
    top: 27px;
    left: 23px;
    border-bottom: 2px solid #ccc;
    color: #4C4846;
    font-size: 20px;
    font-weight: bolder;
    width: 650px;
}

.l_right span:nth-child(2) {
    position: absolute;
    top: 70px;
    left: 23px;
    font-size: 17px;
    font-weight: bolder;
}

.l_right span:nth-child(3) {
    position: absolute;
    top: 287px;
    left: 23px;
    font-size: 17px;
    font-weight: bolder;
}

.l_right span:nth-child(4) {
    position: absolute;
    top: 502px;
    left: 23px;
    font-size: 17px;
    font-weight: bolder;
}

.l_lc {
    position: absolute;
    top: 100px;
    left: 23px;
    line-height: 20px;
    color: #756D74;
}

.l_zysx {
    position: absolute;
    top: 322px;
    left: 23px;
    line-height: 20px;
    color: #756D74;
}

.l_cgl {
    position: absolute;
    top: 546px;
    left: 23px;
    line-height: 20px;
    color: #756D74;
}